{% extends "layout.html" %}
{% block content %}
<main class="page project-page">
    <section class="portfolio-block project">
        <div class="container">
            <div class="heading">
                <h2>Group -&nbsp;</h2>
            </div>
            <div class="image"
                style="background-image:url(&quot;{{url_for('static',filename='assets/img/tech/image3.jpg')}}&quot;);">
            </div>
            <div class="row">
                <div class="col-12 col-md-6 offset-md-1 info">
                    <h3>Description</h3>
                    <p><strong>Creating an automatic answer checker web application for students and teachers, for
                            grading of the
                            answers submitted by students against an ideal solution uploaded by the teacher.</strong>
                    </p>

                    <ul>
                        <li>
                            <p>Students upload their hand-written answer sheets which will be converted to text.</p>
                        </li>
                        <li>
                            <p>The solution provided by the students will be automatically marked against the
                                ideal/correct
                                answer given by the evaluator/professor, using AI to check similarity of the two answers
                            </p>
                        </li>
                    </ul>

            </div>
            <div class="col-12 col-md-3 offset-md-1 meta">
                <div class="tags">
                    <span class="meta-heading">Members</span>
                    <span>BT18CSE038 - Ashish Lakra</span>
                    <span>BT18CSE054 - Rishabh Agrawal</span>
                    <span>BT18CSE073 - Jay Puri Goswami</span>
                    <span>BT18CSE075 - Harshal Sable</span>
                    <span>BT18CSE077 - Anurag Baral</span>
                    <span>BT18CSE091 - Rishikesh Rachchh</span>
                    <span>BT18CSE147 - Prince Sharma</span>

                    <span class="meta-heading">Date</span><span>April 11, 2021</span></div>
            </div>
        </div>
        </div>
    </section>
</main>
{% endblock %}
