{% extends "layout.html" %}
{% block content %}
<main class="page contact-page">
    <section class="portfolio-block contact">
        <div class="container">
            <div class="heading">
                <h2>live demo</h2>
            </div>
            <form action="/result" method="POST" enctype="multipart/form-data">
                <div class="form-group"><label for="file1">Teacher</label><input class="form-control-file item"
                        type="file" id="file1" name="file1"></div>
                <div class="form-group"><label for="file2">Student</label><input class="form-control-file item"
                        type="file" id="file2" name="file2" multiple></div>
                <div class="form-group"><button class="btn btn-primary btn-block btn-lg gradient" type="submit">Submit
                        Form</button></div>
            </form>
        </div>
    </section>
</main>
{% endblock %}
